<div class="page-header">
  <h1>Administrator#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= administratorsPath() %>" class="btn btn-info">Back to all Administrators</a></li>
  <li class="list-inline-item"><a href="<%= editAdministratorPath({ administrator_id: administrator.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= administratorPath({ administrator_id: administrator.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= administrator.Name %>
</p>
<p>
  <strong>Username</strong>: <%= administrator.Username %>
</p>
<p>
  <strong>Password</strong>: <%= administrator.Password %>
</p>
<p>
  <strong>Email</strong>: <%= administrator.Email %>
</p>
